<html>
<body>
    <table border="1px">
        <tr>
            <td>ID</td>
            <td>CPF</td>
        </tr>            
        <tr>
            <td> 1 </td>
            <td>Livro de NodeJS</td>
        </tr>
    </table>
</body>
</html>